<div [class]="getContainerClasses()">
  <div 
    *ngFor="let tab of tabs" 
    [class]="getTabClasses(tab)"
    (click)="onTabClick(tab)"
    [attr.role]="'button'"
    [attr.tabindex]="tab.disabled ? -1 : 0"
    [attr.aria-selected]="isActive(tab.id)"
    [attr.aria-disabled]="tab.disabled">
    
    <!-- Tipo rectangular: solo texto y badge opcional -->
    <ng-container *ngIf="tab.tipo === 'rectangular'">
      <span class="tab-label">{{ tab.label }}</span>
      <div *ngIf="tab.showCount && (!tab.disabled || tab.count === 0)" class="tab-badge">
        <span class="tab-count">{{ tab.count }}</span>
      </div>
    </ng-container>

    <!-- Tipo cuadrada-icono: icono arriba, texto abajo -->
    <ng-container *ngIf="tab.tipo === 'cuadrada-icono'">
      <div class="tab-icon-wrapper">
        <span *ngIf="tab.iconName" [innerHTML]="getSanitizedIcon(tab.iconName)" class="tab-icon"></span>
      </div>
      <span class="tab-label">{{ tab.label }}</span>
    </ng-container>

    <!-- Tipo barra-superior: badge circular con icono arriba, texto abajo -->
    <ng-container *ngIf="tab.tipo === 'barra-superior'">
      <div class="tab-icon-badge-wrapper">
        <div class="tab-icon-badge">
          <span *ngIf="tab.iconName" [innerHTML]="getSanitizedIcon(tab.iconName)" class="tab-icon"></span>
        </div>
      </div>
      <span class="tab-label">{{ tab.label }}</span>
    </ng-container>
  </div>
</div>
