<div class="accordion-wrapper">
  <div *ngFor="let item of items; let last = last" class="accordion-item">
    <button
      class="accordion-header"
      (click)="toggleItem(item.id)"
      [class.active]="isItemActive(item.id)"
    >
      <span class="accordion-title">{{ item.title }}</span>
      <svg
        class="chevron-icon"
        [class.open]="isItemActive(item.id)"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6 9L12 15L18 9"
          stroke="#777779"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <div *ngIf="isItemActive(item.id)" class="accordion-content">
      <ng-content [select]="'[accordion-item-' + item.id + ']'"></ng-content>
    </div>
    <div *ngIf="!last" class="accordion-divider"></div>
  </div>
</div>
