<div class="speech-layout">
  <app-header-bar
    [username]="'Yesica Palomino'"
    [appName]="'Integra CRM'"
    [actions]="headerActions"
    (menuClick)="onMenuClick()"
  ></app-header-bar>

  <div class="speech-container" [class.sidebar-expanded]="isSidebarExpanded">
    <aside class="speech-sidebar">
      <app-sidebar-menu-maestro
        [items]="sidebarItems"
        [activeItemId]="activeSidebarId"
        [expandedIds]="expandedSidebarIds"
        [collapsed]="!isSidebarExpanded"
        (itemClick)="onSidebarItemClick($event)"
        (expandedIdsChange)="onExpandedIdsChange($event)"
      ></app-sidebar-menu-maestro>
    </aside>

    <main class="speech-main-content">
      <div class="speech-content">
        <!-- Speech page content will go here -->
      </div>
    </main>
  </div>
</div>
