<div class="radio-group-maestro">
  <button
    *ngFor="let option of options"
    class="radio-option"
    [class.selected]="isSelected(option.value)"
    [class.unselected]="!isSelected(option.value)"
    (click)="selectOption(option)"
    type="button"
    role="radio"
    [attr.aria-checked]="isSelected(option.value)"
  >
    <span class="radio-button">
      <span *ngIf="isSelected(option.value)" class="radio-inner"></span>
    </span>
    <span class="radio-label">{{ option.label }}</span>
  </button>
</div>
