<div class="oportunidad">
  <div class="header-row">
    <app-tag-pill [label]="etiqueta" [color]="tagColor" size="sm"></app-tag-pill>
    <span class="nombre">{{ nombre }}</span>
  </div>

  <div class="programa">{{ programa }}</div>

  <div class="info-row">
    <span class="label">Fase:</span>
    <span class="value">{{ fase }}</span>
  </div>

  <div class="info-row">
    <span class="label">Categoria:</span>
    <span class="value" [style.color]="categoriaColor">{{ categoria }}</span>
  </div>
</div>
